.attr-bg {
    border: 1px dotted #000000 !important;
    background-color: rgba(251, 255, 0, 0.541);
}

.attr-box {
    z-index: 9998;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(239, 156, 255, 0.8);
    color: rgb(0, 0, 0);
    border: 1px dashed #000000;
    padding: 4px 8px;
    width:fit-content;
    cursor: pointer;
    font-size: 10px;
    border-radius: 8px;
}
