.attribute-background {
  border: 1px dotted #000000;
  background-color: #9b59b6;
}

.attribute-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  transition: all 0.4s;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px dashed #000000;
  border-radius: 8px;
  background-color: #f1c40f;
  padding: 4px 8px;
  min-width: 200px;
  max-width: 300px;
  color: #000000;
  font-size: 10px;
}

.attribute-box:hover {
  left: 16px;
  z-index: 99991;
  background-color: #f39c12;
  font-weight: bold;
}
