.attribute-background {
  border: 1px dotted #000000;
  background-color: #9b59b6;
}

.attribute-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  border: 1px dashed #000000;
  background-color: #f1c40f;
  padding: 4px 4px;
  min-width: 200px;
  max-width: 300px;
  color: #000000;
  font-size: 7px;
}

.attribute-box:hover {
  z-index: 99991;
  background-color: #e0b164;
}
